<h1><%= @beer.name %></h1>

<div class="beer-info-card">
<%= image_tag "#{@beer.photo}", alt: "bière", width: 200 %>
  <ul>
    <li>Style : <%= @beer.style %></li>
    <li>Houblon(s) : <%= @beer.hops %></li>
    <li>Alcool : <%= @beer.abv %></li>
    <li>Amerté : <%= @beer.ibu %></li>
    <li>Provenance : <%= @beer.country %></li>
  </ul>
</div>
